@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

/* CSS Variables */
:root {
    /* main UI color */
    --plyr-color-main: #FD027A;
    /* audio controls background */
    --plyr-audio-controls-background: #194862;
    /* audio controls color */
    --plyr-audio-control-color: #E0CFC5;
    /* font family for player */
    --titlefont : "sansita", serif;
    --bodyfont: "oswald", sans-serif;
    /* font size of player  */
    --plyr-font-size-time: 16px;

    /* Other optional customiziations */
    --plyr-audio-control-color-hover:  black;
    --plyr-audio-progress-buffered-background:  black;
    --plyr-audio-range-track-background: #ffe600;
    --plyr-tooltip-background: white;
    --plyr-tooltip-color: white; 
    --plyr-control-icon-size: 16px;
}

body {
    background: #07063F;
}

/* Layout */
main {
    /* Fixed width center align */
    max-width: 60em;
    margin-inline: auto;

    background: rgb(255,245,214);
    background: linear-gradient(0deg, rgba(127,20,17,1) 0%, rgba(255,0,0,1) 24%, rgba(255,134,0,1) 58%, rgba(247,255,0,1) 92%);

}

main img {
    /* Fit image to container */
    max-width: 100%;
    display: block;
}

/* Primary Content */
article {
    /* flow content horizontally */
    text-align: center;
    display: flex;
    gap: 1em;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: var(--bodyfont);
    margin: 5% 13%;
}

h1 {
    font-family: var(--titlefont);
    margin-left: 2%;
}

h2 {
    font-family: var(--titlefont);
    margin-left: 2%;
    }

.center {
    margin: 0% 25%;
  }

article section {
    /* keep flex'd child same width */
    flex: 1;
}

/* Footer */
footer {
    text-align: center;
}

/* Media Queries */
@media (max-width: 40em) {
    main article {
        flex-direction: column;
    }
}